# Statistical Analysis of tables

In [1]:
%matplotlib inline
%load_ext autoreload
%autoreload 2

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from scipy.stats import wilcoxon, mannwhitneyu, rankdata

from scipy.stats import friedmanchisquare
import scipy.stats as ss

import scikit_posthocs as sp

In [4]:
input_path = '/Users/jesus/Dropbox/PhD/PhD/input/'

# Test PhD

In [53]:
project = 'exp3'
dataset = 'wind'
metric = 'errint'

In [54]:
df_class = pd.read_csv(input_path + project + '/' + dataset + '_' + metric + '.csv', sep=';', header=0, index_col=0)
df_class

         M_unique       M_k  M_magnitude
dataset
S1       2.720000  1.340000     1.620000
S2       2.699430  1.337108     1.591812
S3       2.747935  1.344550     1.617464
S4       2.702741  1.338223     1.628381
S5       2.739580  1.344041     1.615280
...           ...       ...          ...
S94      2.689523  1.338398     1.593589
S95      2.682416  1.342566     1.611366
S96      2.811698  1.354901     1.629582
S97      2.745136  1.324879     1.633766
S98      2.722597  1.352843     1.600345

[97 rows x 3 columns]

In [55]:
st, p = friedmanchisquare(*df_class.values.T)
wilcoxon = sp.posthoc_wilcoxon(df_class.T.values, p_adjust='holm-sidak')
print('p_value Friedman = ', p)  
if p > 0.05:
    print("friedman does NOT detect differences across models")
print("---------------------------------------------------------------------------")
p = np.min(np.min(wilcoxon))
print('min adj p-value Wilcoxon = ', p)
if p > 0.05:
    print("Wilcoxon does NOT detect differences across models") 
print("---------------------------------------------------------------------------")
display(np.round(wilcoxon, 2))

p_value Friedman =  7.471972337343043e-43
---------------------------------------------------------------------------
min adj p-value Wilcoxon =  0.0
---------------------------------------------------------------------------

     1    2    3
1  1.0  0.0  0.0
2  0.0  1.0  0.0
3  0.0  0.0  1.0